.link {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 660px) {
    .link {
        display: flex;
        flex-flow: column wrap;
        margin: 0.5em 0em;
    }

}